#w3-top {
  font-size: larger;
}

.name {
  color: rgb(235, 22, 224);
}

.w3-xxlarge {
  height: 180px;
  padding-right: 500px;
}

.content {
  margin-right: 80px;
  margin-left: 80px;
}

.profilePic {
  padding-left: 5px;
  padding-bottom: 15px;
}

#resume {
  padding-left: 15px;
  margin-left: 15px;
}

.fa {
  margin: 10px;
}

#about {
  margin-top: 150px;
}




